$DESKTOP_MODES: (
    MAIN: (
        LV-D-HEADER-RESPONSIVE_HORIZONTAL_MARGINS-MAX_WIDTH_VALUE: 150vh,
        LV-D-HEADER-RESPONSIVE_HORIZONTAL_MARGINS-MARGIN_VALUE: 0 $GV-D-HORIZONTAL_MARGINS,
        LV-D-HEADER-LOGO_TOGGLE_MAIN: unset,
        LV-D-HEADER-LOGO_TOGGLE_SLIM: none,
    ),
    SLIM: (
        LV-D-HEADER-RESPONSIVE_HORIZONTAL_MARGINS-MAX_WIDTH_VALUE: unset,
        LV-D-HEADER-RESPONSIVE_HORIZONTAL_MARGINS-MARGIN_VALUE: 0,
        LV-D-HEADER-LOGO_TOGGLE_MAIN: none,
        LV-D-HEADER-LOGO_TOGGLE_SLIM: unset,
    ),
);
