$DESKTOP_MODES: (
    MAIN: (
        LV-D-CORE-RESPONSIVE_HORIZONTAL_MARGINS-MAX_WIDTH_VALUE: 150vh,
        LV-D-CORE-RESPONSIVE_HORIZONTAL_MARGINS-MARGIN_VALUE: 0 $GV-D-HORIZONTAL_MARGINS,

        LV-D-HOME-SHOWCASE-SKILLS-GRID_COLUMNS: repeat(2, 1fr),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_ROWS: repeat(2, 1fr),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_WEB: unquote("1 / 1 / 2 / 2"),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_DESIGN: unquote("1 / 2 / 2 / 3"),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_3D: unquote("2 / 1 / 3 / 2"),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_LANGUAGES: unquote("2 / 2 / 3 / 3"),
        LV-D-HOME-SHOWCASE-SKILLS-MAX_WIDTH: 67vh,

        LV-D-COMPONENT-TILEROW-HEIGHT_FOR_IMAGE_100: 70vh,
        LV-D-COMPONENT-TILEROW-HEIGHT_FOR_IMAGE_50: 50vh,
        LV-D-COMPONENT-TILEROW-HEIGHT_FOR_IMAGE_25: 50vh,

        LV-D-COMPONENT-TILEROW-TILE-50-IMAGE_WIDTH: calc($GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT - $GV-D-BORDER_WIDTH * 2),
        LV-D-COMPONENT-TILEROW-TILE-25-IMAGE_WIDTH: calc($GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT - $GV-D-BORDER_WIDTH * 2),

        LV-D-COMPONENT-TILEROW-50_50-TEMPLATE_COLUMNS: repeat(2, $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT),
        LV-D-COMPONENT-TILEROW-50_50-TEMPLATE_ROWS: 1fr,
        LV-D-COMPONENT-TILEROW-50_50-COLUMN_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-50_50-ROW_GAP: 0,
        LV-D-COMPONENT-TILEROW-50_50-AREA_SLOT_1: unquote("1 / 1 / 2 / 2"),
        LV-D-COMPONENT-TILEROW-50_50-AREA_SLOT_2: unquote("1 / 2 / 2 / 3"),

        LV-D-COMPONENT-TILEROW-50_25_25-TEMPLATE_COLUMNS: $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT repeat(2, $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT),
        LV-D-COMPONENT-TILEROW-50_25_25-TEMPLATE_ROWS: 1fr,
        LV-D-COMPONENT-TILEROW-50_25_25-COLUMN_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-50_25_25-ROW_GAP: 0,
        LV-D-COMPONENT-TILEROW-50_25_25-AREA_SLOT_1: unquote("1 / 1 / 2 / 2"),
        LV-D-COMPONENT-TILEROW-50_25_25-AREA_SLOT_2: unquote("1 / 2 / 2 / 3"),
        LV-D-COMPONENT-TILEROW-50_25_25-AREA_SLOT_3: unquote("1 / 3 / 2 / 4"),

        LV-D-COMPONENT-TILEROW-25_50_25-TEMPLATE_COLUMNS: $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT,
        LV-D-COMPONENT-TILEROW-25_50_25-TEMPLATE_ROWS: 1fr,
        LV-D-COMPONENT-TILEROW-25_50_25-COLUMN_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-25_50_25-ROW_GAP: 0,
        LV-D-COMPONENT-TILEROW-25_50_25-AREA_SLOT_1: unquote("1 / 1 / 2 / 2"),
        LV-D-COMPONENT-TILEROW-25_50_25-AREA_SLOT_2: unquote("1 / 2 / 2 / 3"),
        LV-D-COMPONENT-TILEROW-25_50_25-AREA_SLOT_3: unquote("1 / 3 / 2 / 4"),

        LV-D-COMPONENT-TILEROW-25_25_50-TEMPLATE_COLUMNS: repeat(2, $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT) $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT,
        LV-D-COMPONENT-TILEROW-25_25_50-TEMPLATE_ROWS: 1fr,
        LV-D-COMPONENT-TILEROW-25_25_50-COLUMN_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-25_25_50-ROW_GAP: 0,
        LV-D-COMPONENT-TILEROW-25_25_50-AREA_SLOT_1: unquote("1 / 1 / 2 / 2"),
        LV-D-COMPONENT-TILEROW-25_25_50-AREA_SLOT_2: unquote("1 / 2 / 2 / 3"),
        LV-D-COMPONENT-TILEROW-25_25_50-AREA_SLOT_3: unquote("1 / 3 / 2 / 4"),
    ),
    SLIM: (
        LV-D-CORE-RESPONSIVE_HORIZONTAL_MARGINS-MAX_WIDTH_VALUE: unset,
        LV-D-CORE-RESPONSIVE_HORIZONTAL_MARGINS-MARGIN_VALUE: 0,

        LV-D-HOME-SHOWCASE-SKILLS-GRID_COLUMNS: 1fr,
        LV-D-HOME-SHOWCASE-SKILLS-GRID_ROWS: repeat(4, max-content),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_WEB: unquote("1 / 1 / 2 / 2"),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_DESIGN: unquote("2 / 1 / 3 / 2"),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_3D: unquote("3 / 1 / 4 / 2"),
        LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_LANGUAGES: unquote("4 / 1 / 5 / 2"),
        LV-D-HOME-SHOWCASE-SKILLS-MAX_WIDTH: 100vh,

        LV-D-COMPONENT-TILEROW-HEIGHT_FOR_IMAGE_100: 60vh,
        LV-D-COMPONENT-TILEROW-HEIGHT_FOR_IMAGE_50: 60vh,
        LV-D-COMPONENT-TILEROW-HEIGHT_FOR_IMAGE_25: 50vh,

        LV-D-COMPONENT-TILEROW-TILE-50-IMAGE_WIDTH: calc($GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_SINGLE_SLOT - $GV-D-BORDER_WIDTH * 2),
        LV-D-COMPONENT-TILEROW-TILE-25-IMAGE_WIDTH: calc($GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT - $GV-D-BORDER_WIDTH * 2),

        LV-D-COMPONENT-TILEROW-50_50-TEMPLATE_COLUMNS: $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_SINGLE_SLOT,
        LV-D-COMPONENT-TILEROW-50_50-TEMPLATE_ROWS: repeat(2, max-content),
        LV-D-COMPONENT-TILEROW-50_50-COLUMN_GAP: 0,
        LV-D-COMPONENT-TILEROW-50_50-ROW_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-50_50-AREA_SLOT_1: unquote("1 / 1 / 2 / 2"),
        LV-D-COMPONENT-TILEROW-50_50-AREA_SLOT_2: unquote("2 / 1 / 3 / 2"),

        LV-D-COMPONENT-TILEROW-50_25_25-TEMPLATE_COLUMNS: repeat(2, $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT),
        LV-D-COMPONENT-TILEROW-50_25_25-TEMPLATE_ROWS: repeat(2, max-content),
        LV-D-COMPONENT-TILEROW-50_25_25-COLUMN_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-50_25_25-ROW_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-50_25_25-AREA_SLOT_1: unquote("1 / 1 / 2 / 3"),
        LV-D-COMPONENT-TILEROW-50_25_25-AREA_SLOT_2: unquote("2 / 1 / 3 / 2"),
        LV-D-COMPONENT-TILEROW-50_25_25-AREA_SLOT_3: unquote("2 / 2 / 3 / 3"),

        LV-D-COMPONENT-TILEROW-25_50_25-TEMPLATE_COLUMNS: repeat(2, $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT),
        LV-D-COMPONENT-TILEROW-25_50_25-TEMPLATE_ROWS: repeat(2, max-content),
        LV-D-COMPONENT-TILEROW-25_50_25-COLUMN_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-25_50_25-ROW_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-25_50_25-AREA_SLOT_1: unquote("2 / 1 / 3 / 2"),
        LV-D-COMPONENT-TILEROW-25_50_25-AREA_SLOT_2: unquote("1 / 1 / 2 / 3"),
        LV-D-COMPONENT-TILEROW-25_50_25-AREA_SLOT_3: unquote("2 / 2 / 3 / 3"),

        LV-D-COMPONENT-TILEROW-25_25_50-TEMPLATE_COLUMNS: repeat(2, $GV-D-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT),
        LV-D-COMPONENT-TILEROW-25_25_50-TEMPLATE_ROWS: repeat(2, max-content),
        LV-D-COMPONENT-TILEROW-25_25_50-COLUMN_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-25_25_50-ROW_GAP: $GV-D-DISTANCE-MEDIUM,
        LV-D-COMPONENT-TILEROW-25_25_50-AREA_SLOT_1: unquote("1 / 1 / 2 / 2"),
        LV-D-COMPONENT-TILEROW-25_25_50-AREA_SLOT_2: unquote("1 / 2 / 2 / 3"),
        LV-D-COMPONENT-TILEROW-25_25_50-AREA_SLOT_3: unquote("2 / 1 / 3 / 3"),
    ),
);
