@mixin DESKTOP_MODES($MODE) {
    $MODE_VALUES: map-get($DESKTOP_MODES, $MODE);



    //  CHUNK:DESKTOP
    .S-DESKTOP-wrapper {
        display: unset;
    }
    .S-LANDSCAPE-wrapper {
        display: none;
    }
    .S-MOBILE-wrapper {
        display: none;
    }



    //  CHUNK:CORE
    //  LOCAL VARIABLES NAME = CORE
    $LV-D-CORE-RESPONSIVE_HORIZONTAL_MARGINS-MAX_WIDTH_VALUE: map-get($MODE_VALUES, LV-D-CORE-RESPONSIVE_HORIZONTAL_MARGINS-MAX_WIDTH_VALUE);
    $LV-D-CORE-RESPONSIVE_HORIZONTAL_MARGINS-MARGIN_VALUE: map-get($MODE_VALUES, LV-D-CORE-RESPONSIVE_HORIZONTAL_MARGINS-MARGIN_VALUE);
    $LV-D-BORDERS: $GV-D-BORDER_WIDTH solid $PALETTE-SLATE;
    .S-DESKTOP-carcass {
        //  SCALING
        height: 100vh;
        width: 100vw;

        .S-DESKTOP-header {
            //  POSITIONING
            position: fixed;
            //  SCALING
            width: 100vw;
            //  LAYERING
            z-index: 100;
        }
    }



    //  CHUNK:HEADER
    //  LOCAL VARIABLES NAME = HEADER
    $LV-D-HEADER-HEIGHT: 7.5vh;
    .S-HEADER-wrapper {
        //  BACKGROUND
        background-color: $PALETTE-OBSIDIAN;
        //  FLEXBOX
        display: flex;
        justify-content: center;
        //  BORDER
        border-bottom: $LV-D-BORDERS;
        //  TRANSITION
        transition: opacity 0.2s;

        .S-HEADER-carcass {
            //  CSS-GRID SETUP
            display: grid;
            grid-template-columns: max-content 1fr;
            grid-template-rows: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;
            //  SCALING
            height: $LV-D-HEADER-HEIGHT;

            .S-HEADER-logo {
                //  CSS-GRID CONFIGURATION
                grid-area: 1 / 1 / 2 / 2;

                .S-LOGO-carcass {
                    //  FLEXBOX
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    //  SCALING
                    height: $LV-D-HEADER-HEIGHT;
                    //  MARGINS & PADDINGS
                    padding: 0 $GV-D-DISTANCE-MEDIUM;
                    //  BACKGROUND
                    background-color: $PALETTE-OBSIDIAN;
                    //  FONT SETTINGS
                    color: $PALETTE-ASH;
                    //  TRANSITION
                    transition:
                        background-color 0.15s,
                        color 0.2s;
                    //  CURSOR
                    cursor: pointer;

                    .I-LOGO-image {
                        //  SCALING
                        height: $LV-D-HEADER-HEIGHT / 2.15;
                        //  FILL
                        fill: $PALETTE-ASH;
                        //  TRANSITION
                        transition: fill 0.2s;
                    }
                }
                .S-LOGO-carcass:hover {
                    //  BACKGROUND
                    background-color: $PALETTE-MIDNIGHT;
                    //  FONT SETTINGS
                    color: $PALETTE-SNOW;

                    .I-LOGO-image {
                        //  FILL
                        fill: $PALETTE-SNOW;
                    }
                }
            }
            .S-HEADER-content {
                //  CSS-GRID CONFIGURATION
                grid-area: 1 / 2 / 2 / 3;

                .S-CONTENT-carcass {
                    //  CSS-GRID SETUP
                    display: grid;
                    grid-template-columns: repeat(5, max-content);
                    grid-template-rows: $LV-D-HEADER-HEIGHT max-content;
                    grid-column-gap: 0;
                    grid-row-gap: 0;
                    //  SCALING
                    height: $LV-D-HEADER-HEIGHT;

                    .S-CONTENT-text {
                        //  FLEXBOX
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //  MARGINS & PADDINGS
                        padding: 0 $GV-D-DISTANCE-MEDIUM;
                        //  BACKGROUND
                        background-color: $PALETTE-OBSIDIAN;
                        //  FONT SETTINGS
                        color: $PALETTE-ASH;
                        //  TRANSITION
                        transition:
                            background-color 0.15s,
                            color 0.2s;
                        //  CURSOR
                        cursor: pointer;

                        .I-CONTENT-dropdown_arrow {
                            //  SCALING
                            height: 1.2vh;
                            //  MARGINS & PADDINGS
                            margin-left: $GV-D-DISTANCE-MICRO;
                            //  FILL
                            fill: $PALETTE-ASH;
                            //  TRANSITION
                            transition:
                                transform 0.2s ease-in-out,
                                fill 0.2s;
                        }
                        .I-CONTENT-dropdown_arrow_animation {
                            animation: KF-HEADER_DROPDOWN_ICON_CLICK_ANIMATION 0.2s ease-in-out;
                        }

                        @keyframes KF-HEADER_DROPDOWN_ICON_CLICK_ANIMATION {
                            0% { transform: translateY(0); }
                            50% { transform: translateY(0.2vh); }
                            100% { transform: translateY(0); }
                        }

                    }
                    .S-CONTENT-text:hover {
                        //  BACKGROUND
                        background-color: $PALETTE-MIDNIGHT;
                        //  FONT SETTINGS
                        color: $PALETTE-SNOW;

                        .I-CONTENT-dropdown_arrow {
                            //  FILL
                            fill: $PALETTE-SNOW;
                        }
                    }
                    .S-CONTENT-projects {
                        //  CSS-GRID CONFIGURATION
                        grid-area: 1 / 1 / 2 / 2;
                    }
                    .S-CONTENT-about {
                        //  CSS-GRID CONFIGURATION
                        grid-area: 1 / 2 / 2 / 3;
                    }
                    .S-CONTENT-contacts {
                        //  CSS-GRID CONFIGURATION
                        grid-area: 1 / 3 / 2 / 4;
                    }
                    .S-CONTENT-other {
                        //  CSS-GRID CONFIGURATION
                        grid-area: 1 / 4 / 2 / 5;
                    }
                    .S-CONTENT-languages {
                        //  CSS-GRID CONFIGURATION
                        grid-area: 1 / 5 / 2 / 6;
                        //  SCALING
                        width: $LV-D-HEADER-HEIGHT;
                        //  FLEXBOX
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        //  POSITIONING
                        position: relative;
                        //  TRANSITION
                        transition:
                            background-color 0.15s,
                            color 0.2s;
                        //  CURSOR
                        cursor: pointer;

                        .I-CONTENT-languages_all {
                            //  POSITIONING
                            position: absolute;
                            //  FILL
                            fill: $PALETTE-ASH;
                            //  TRANSITION
                            transition:
                                transform 0.2s ease-in-out,
                                fill 0.2s;
                        }
                        .I-CONTENT-languages_combined {
                            //  SCALING
                            height: $LV-D-HEADER-HEIGHT / 2.15;
                        }
                        .I-CONTENT-languages_part1 {
                            //  SCALING
                            height: $LV-D-HEADER-HEIGHT / 2.8116;
                            //  POSITIONING
                            margin-right: 0.8vh;
                            margin-bottom: 0.7vh;
                        }
                        .I-CONTENT-languages_part2 {
                            //  SCALING
                            height: $LV-D-HEADER-HEIGHT / 3.3975;
                            //  POSITIONING
                            margin-left: 1.5vh;
                            margin-top: 1.1vh;
                        }
                        .I-CONTENT-languages_icon_part1_animation {
                            animation: KF-HEADER_LANGUAGES_ICON_PART1_ANIMATION 0.2s ease-in-out;
                        }
                        .I-CONTENT-languages_icon_part2_animation {
                            animation: KF-HEADER_LANGUAGES_ICON_PART2_ANIMATION 0.2s ease-in-out;
                        }

                        @keyframes KF-HEADER_LANGUAGES_ICON_PART1_ANIMATION {
                            20% { transform: translateY(0); }
                            70% { transform: translateY(0.2vh); }
                            120% { transform: translateY(0); }
                        }
                        @keyframes KF-HEADER_LANGUAGES_ICON_PART2_ANIMATION {
                            0% { transform: translateY(0); }
                            50% { transform: translateY(0.2vh); }
                            100% { transform: translateY(0); }
                        }
                    }
                    .S-CONTENT-languages:hover {
                        //  BACKGROUND
                        background-color: $PALETTE-MIDNIGHT;
                        //  FONT SETTINGS
                        color: $PALETTE-SNOW;

                        .I-CONTENT-languages_all {
                            //  FILL
                            fill: $PALETTE-SNOW;
                        }
                    }
                    .S-CONTENT-overlays {
                        //  CSS-GRID CONFIGURATION
                        grid-area: 2 / 1 / 3 / 6;
                        //  LAYERING
                        z-index: 110;
                        //  INTERACTIONS
                        pointer-events: none;

                        .S-OVERLAYS-carcass {
                            //  CSS-GRID SETUP
                            display: grid;
                            grid-template-columns: 1fr max-content;
                            grid-template-rows: 1fr;
                            grid-column-gap: 0;
                            grid-row-gap: 0;

                            .S-OVERLAY-all {
                                //  TRANSITION
                                transition: opacity 0.2s;
                                box-sizing: border-box;
                                border: $LV-D-BORDERS;
                            }
                            .S-OVERLAY-big {
                                //  BORDER
                                border-left: $LV-D-BORDERS;
                                border-right: $LV-D-BORDERS;
                            }
                            .S-OVERLAY-projects {
                                background-color: #63a7ae;
                                //  CSS-GRID CONFIGURATION
                                grid-area: 1 / 1 / 2 / 2;
                            }
                            .S-OVERLAY-other {
                                background-color: #816ee1;
                                //  CSS-GRID CONFIGURATION
                                grid-area: 1 / 1 / 2 / 2;
                            }
                            .S-OVERLAY-languages {
                                background-color: #0b4e51;
                                //  CSS-GRID CONFIGURATION
                                grid-area: 1 / 2 / 2 / 3;
                                //  SCALING
                                width: $LV-D-HEADER-HEIGHT;
                            }
                        }
                    }
                }
            }
        }
    }



    //  CHUNK:HOME-FRONT
    //  LOCAL VARIABLES NAME = HOME-FRONT
    $LV-D-HOME-FRONT-PATH_TRANSLATE: 7.5vh;
    .S-FRONT-carcass {
        //  CSS-GRID SETUP
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 0;
        //  SCALING
        height: 100vh;
        //  BORDER
        border-bottom: $LV-D-BORDERS;
        //  OVERFLOW
        overflow: clip;
        //  BACKGROUND
        background:
            radial-gradient(
                    circle at 50% -40%,
                    $PALETTE-SH1FT 0%,
                    color-mix(in oklab, $PALETTE-SH1FT 100%, $PALETTE-GLASS) 25%,
                    $PALETTE-GLASS 92%
            ) no-repeat;

        .S-FRONT-background {
            //  CSS-GRID CONFIGURATION
            grid-area: 1 / 1 / 2 / 2;
            //  SCALING
            width: 100vw;
            //  FLEXBOX
            display: flex;
            justify-content: center;
            //  LAYERING
            z-index: 1;

            .I-FRONT-background_image {
                //  SCALING
                height: 178vh;
                //  OPACITY
                opacity: 0.1;
                //  POSITIONING
                margin-top: -50vh;
                margin-right: -20vh;
                //  INTERACTIONS
                pointer-events: none;
            }
        }
        .S-FRONT-content {
            //  CSS-GRID CONFIGURATION
            grid-area: 1 / 1 / 2 / 2;
            //  SCALING
            width: 100vw;
            //  LAYERING
            z-index: 2;

            .S-CONTENT-wrapper {
                //  FLEXBOX
                display: flex;
                justify-content: center;

                .S-CONTENT-carcass {
                    //  FLEXBOX
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: center;
                    //  SCALING
                    height: 100vh - $LV-D-HEADER-HEIGHT - $GV-D-BORDER_WIDTH;
                    //  MARGINS & PADDINGS
                    padding-top: $LV-D-HEADER-HEIGHT + $GV-D-BORDER_WIDTH;

                    .S-CONTENT-name {
                        //  MARGINS & PADDINGS
                        margin-bottom: $GV-D-DISTANCE-BIG * 2;

                        .T-NAME-text {
                            //  FONT SETTINGS
                            color: $PALETTE-SNOW;
                            text-align: center;
                        }
                    }
                    .S-CONTENT-buttons {
                        //  FLEXBOX
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        flex-wrap: wrap;
                        gap: $GV-D-DISTANCE-SMALL;
                        //  SCALING
                        width: 90vh;

                        .S-BUTTON-frame {
                            //  FLEXBOX
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            //  BACKGROUND
                            background-color: $PALETTE-SNOW;
                            //  MARGINS & PADDINGS
                            padding: $GV-D-DISTANCE-MICRO $GV-D-DISTANCE-SMALL;
                            //  STREAMLINING
                            border-radius: $GV-D-BORDER_RADIUS-SMALL;
                            //  SCALING
                            width: max-content;
                            //  TRANSITION
                            transition: background-color 0.2s;

                            &:hover {
                                //  BACKGROUND
                                background-color: $PALETTE-SH1FT;

                                .T-BUTTON-title {
                                    //  FONT SETTINGS
                                    color: $PALETTE-SNOW;
                                }

                                .I-BUTTON-arrow {
                                    //  FILL
                                    fill: $PALETTE-SNOW;

                                    .PATH-1 {
                                        //  TRANSFORM
                                        transform: translateX($LV-D-HOME-FRONT-PATH_TRANSLATE);
                                        //  OPACITY
                                        opacity: 0;
                                    }
                                    .PATH-2 {
                                        //  TRANSFORM
                                        transform: translateX(0vh);
                                        //  OPACITY
                                        opacity: 1;
                                    }
                                }
                            }

                            .T-BUTTON-title {
                                //  FONT SETTINGS
                                color: $PALETTE-OBSIDIAN;
                                text-align: center;
                                //  TRANSITION
                                transition:
                                    color 0.2s,
                                    transform 0.2s;
                            }
                            .I-BUTTON-arrow {
                                //  SCALING
                                height: 1.9vh;
                                //  MARGINS & PADDINGS
                                margin-left: $GV-D-DISTANCE-MICRO;
                                //  FILL
                                fill: $PALETTE-OBSIDIAN;
                                //  TRANSITION
                                transition:
                                    fill 0.2s,
                                    transform 4s;

                                .PATH-1, .PATH-2 {
                                    //  TRANSITION
                                    transition:
                                        transform 0.2s,
                                        opacity 0.2s;
                                }
                                .PATH-1 {
                                    //  TRANSFORM
                                    transform: translateX(0vh);
                                    //  OPACITY
                                    opacity: 1;
                                }
                                .PATH-2 {
                                    //  TRANSFORM
                                    transform: translateX(-$LV-D-HOME-FRONT-PATH_TRANSLATE);
                                    //  OPACITY
                                    opacity: 0;
                                }
                            }
                        }

                        .L-BUTTON-link {
                            //  LINK SETTINGS
                            text-decoration: none;
                        }
                    }
                    .S-CONTENT-shortcuts {
                        //  FLEXBOX
                        display: flex;
                        align-items: center;
                        flex-direction: row;
                        //  MARGINS & PADDINGS
                        margin-top: $GV-D-DISTANCE-MEDIUM;

                        & > .L-SHORTCUT-icon:nth-child(2) {
                            //  MARGINS & PADDINGS
                            margin-right: $GV-D-DISTANCE-REGULAR;
                        }

                        .L-SHORTCUT-link {
                            //  LINK SETTINGS
                            text-decoration: underline;
                            text-underline-offset: 0.4vh;
                            text-decoration-thickness: 0.25vh;
                            //  FONT SETTINGS
                            color: $PALETTE-SNOW;
                            //  MARGINS & PADDINGS
                            margin-right: $GV-D-DISTANCE-REGULAR;
                            //  TRANSITION
                            transition:
                                color 0.2s,
                                text-underline-offset 0.15s;

                            &:hover {
                                //  LINK SETTINGS
                                text-underline-offset: 0.7vh;
                                //  FONT SETTINGS
                                color: $PALETTE-SH1FT;
                            }
                        }
                        .L-SHORTCUT-icon {
                            //  LINK SETTINGS
                            text-decoration: underline;
                            //  FLEXBOX
                            display: flex;

                            .I-SHORTCUT-all {
                                path {
                                    //  FILL
                                    fill: $PALETTE-SNOW;
                                    //  TRANSITION
                                    transition: fill 0.2s;
                                }

                                &:hover {
                                    path {
                                        //  FILL
                                        fill: $PALETTE-SH1FT;
                                    }
                                }
                            }
                            .I-SHORTCUT-icon_telegram {
                                //  SCALING
                                height: 2.8vh;
                            }
                            .I-SHORTCUT-icon_email {
                                //  SCALING
                                height: 2.3vh;
                            }
                        }
                    }
                }
            }
        }
    }



    //  CHUNK:HOME-SHOWCASE
    //  LOCAL VARIABLES NAME = HOME-SHOWCASE

    .S-SHOWCASE-carcass {
        //  CSS-GRID SETUP
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        grid-column-gap: 0;
        grid-row-gap: $GV-D-DISTANCE-MEDIUM;
        //  MARGINS & PADDINGS
        margin: $GV-D-DISTANCE-MEDIUM 0;

        .S-SHOWCASE-skills {
            grid-area: 1 / 1 / 2 / 2;
        }
        .S-SHOWCASE-projects {
            grid-area: 2 / 1 / 3 / 2;
        }
    }



    //  CHUNK:HOME-SHOWCASE-SKILLS
    //  LOCAL VARIABLES NAME = HOME-SHOWCASE-SKILLS
    $LV-D-HOME-SHOWCASE-SKILLS-GRID_COLUMNS: map-get($MODE_VALUES, LV-D-HOME-SHOWCASE-SKILLS-GRID_COLUMNS);
    $LV-D-HOME-SHOWCASE-SKILLS-GRID_ROWS: map-get($MODE_VALUES, LV-D-HOME-SHOWCASE-SKILLS-GRID_ROWS);
    $LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_WEB: map-get($MODE_VALUES, LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_WEB);
    $LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_DESIGN: map-get($MODE_VALUES, LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_DESIGN);
    $LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_3D: map-get($MODE_VALUES, LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_3D);
    $LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_LANGUAGES: map-get($MODE_VALUES, LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_LANGUAGES);
    $LV-D-HOME-SHOWCASE-SKILLS-MAX_WIDTH: map-get($MODE_VALUES, LV-D-HOME-SHOWCASE-SKILLS-MAX_WIDTH);
    .S-SHOWCASE-carcass {
        .S-SKILLS-carcass {
            //  CSS-GRID SETUP
            display: grid;
            grid-template-columns: $LV-D-HOME-SHOWCASE-SKILLS-GRID_COLUMNS;
            grid-template-rows: $LV-D-HOME-SHOWCASE-SKILLS-GRID_ROWS;
            grid-column-gap: $GV-D-DISTANCE-MEDIUM;
            grid-row-gap: $GV-D-DISTANCE-MEDIUM;
            //  MARGINS & PADDINGS
            margin: 0 $GV-D-DISTANCE-MEDIUM;

            .S-SKILLS-all {
                //  FLEXBOX
                display: flex;
                justify-content: center;
                align-items: center;

                .S-ALL-carcass {
                    //  CSS-GRID SETUP
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(2, max-content);
                    grid-column-gap: 0;
                    grid-row-gap: $GV-D-DISTANCE-REGULAR;
                    //  MARGINS & PADDINGS
                    margin-top: $GV-D-DISTANCE-MEDIUM;
                    margin-bottom: $GV-D-DISTANCE-BIG;

                    .S-ALL-title {
                        //  CSS-GRID CONFIGURATION
                        grid-area: 1 / 1 / 2 / 2;
                        //  FLEXBOX
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;

                        .I-ALL-icon {
                            //  SCALING
                            height: 3.8vh;
                        }

                        .T-ALL-title {
                            //  FONT SETTINGS
                            color: $PALETTE-ASH;
                            //  MARGINS & PADDINGS
                            margin-left: $GV-D-DISTANCE-MICRO;
                        }
                    }
                    .S-ALL-tags {
                        //  CSS-GRID CONFIGURATION
                        grid-area: 2 / 1 / 3 / 2;

                        .S-TAGS-carcass {
                            //  FLEXBOX
                            display: flex;
                            justify-content: center;
                            flex-wrap: wrap;
                            gap: $GV-D-DISTANCE-MICRO;
                            //  MARGINS & PADDINGS
                            margin: 0 $GV-D-DISTANCE-MEDIUM;
                            //  SCALING
                            max-width: $LV-D-HOME-SHOWCASE-SKILLS-MAX_WIDTH;
                        }
                    }
                }
            }
            .S-SKILLS-web {
                //  CSS-GRID CONFIGURATION
                grid-area: $LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_WEB;
            }
            .S-SKILLS-design {
                //  CSS-GRID CONFIGURATION
                grid-area: $LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_DESIGN;
            }
            .S-SKILLS-3d {
                //  CSS-GRID CONFIGURATION
                grid-area: $LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_3D;
            }
            .S-SKILLS-languages {
                //  CSS-GRID CONFIGURATION
                grid-area: $LV-D-HOME-SHOWCASE-SKILLS-GRID_CARD_LANGUAGES;
            }
        }
    }



    //  CHUNK:COMPONENT-TAG
    //  LOCAL VARIABLES NAME = COMPONENT-TAG
    $LV-D-COMPONENT-TAG-ICON_HEIGHT: 5vh;
    .S-TAGS-tag {
        //  SCALING
        width: max-content;

        .S-TAG-carcass {
            //  CSS-GRID SETUP
            display: grid;
            grid-template-columns: $LV-D-COMPONENT-TAG-ICON_HEIGHT max-content;
            grid-template-rows: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;
            //  SCALING
            height: $LV-D-COMPONENT-TAG-ICON_HEIGHT;
            ////  BACKGROUND
            //background:
            //    linear-gradient(0deg, transparent 0%, transparent 100%) padding-box,
            //    linear-gradient(130deg, $PALETTE-SLATE, rgba($PALETTE-SMOKE, 0.4)) border-box;
            ////  BORDER
            //border: $GV-D-BORDER_WIDTH solid transparent;
            //border-radius: $GV-D-BORDER_RADIUS-SMALL * 1.2;

            &:hover {
                .S-TAG-icon {
                    //  FILTER
                    filter: brightness(110%);
                }
                .S-TAG-title {
                    //  FILTER
                    filter: brightness(120%);
                }
            }

            .S-TAG-icon {
                //  CSS-GRID CONFIGURATION
                grid-area: 1 / 1 / 2 / 2;
                //  SCALING
                height: $LV-D-COMPONENT-TAG-ICON_HEIGHT;
                //  TRANSITION
                transition: filter 0.2s;

                .I-TAG-icon {
                    //  SCALING
                    height: $LV-D-COMPONENT-TAG-ICON_HEIGHT;
                    //  STREAMLINING
                    border-radius: $GV-D-BORDER_RADIUS-SMALL 0 0 $GV-D-BORDER_RADIUS-SMALL;
                    //  FLEXBOX
                    display: flex;
                }
            }
            .S-TAG-title {
                //  CSS-GRID CONFIGURATION
                grid-area: 1 / 2 / 2 / 3;
                //  SCALING
                height: $LV-D-COMPONENT-TAG-ICON_HEIGHT;
                //  BACKGROUND
                background-color: $PALETTE-GRAPHITE;
                //  FLEXBOX
                display: flex;
                align-items: center;
                justify-content: center;
                //  MARGINS & PADDINGS
                padding: 0 $GV-D-DISTANCE-MICRO * 1.2;
                //  STREAMLINING
                border-radius: 0 $GV-D-BORDER_RADIUS-SMALL $GV-D-BORDER_RADIUS-SMALL 0;
                //  FILTER
                filter: brightness(100%);
                //  TRANSITION
                transition: filter 0.2s;

                .T-TAG-title {
                    //  FONT SETTINGS
                    color: $PALETTE-ASH;
                }
            }
        }
    }



    //  CHUNK:COMPONENT-TILEROW
    //  LOCAL VARIABLES NAME = COMPONENT-TILEROW
    $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_SINGLE_SLOT: calc(100vw - $GV-D-DISTANCE-MEDIUM * 2);
    $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT: calc(($LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_SINGLE_SLOT - $GV-D-DISTANCE-MEDIUM) / 2);
    $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT: calc(($LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT - $GV-D-DISTANCE-MEDIUM) / 2);
    .S-PROJECTS-carcass {
        > :not(:last-child) {
            //  MARGINS & PADDINGS
            margin-bottom: $GV-D-DISTANCE-MEDIUM;
        }

        .S-TILEROW-carcass {
            //  MARGINS & PADDINGS
            margin: 0 $GV-D-DISTANCE-MEDIUM;

            .S-TILE-all {
                //  FLEXBOX
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 100%;
                    //  BORDER
                    border-radius: $GV-D-BORDER_RADIUS-NORMAL;
                }
            }
        }
        .S-TILEROW-100 {
            display: grid;
            grid-template-columns: $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_SINGLE_SLOT;
            grid-template-rows: 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;

            .S-TILEROW-slot_1 {
                grid-area: 1 / 1 / 2 / 2;
            }
        }
        .S-TILEROW-50_50 {
            display: grid;
            grid-template-columns: repeat(2, $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT);
            grid-template-rows: 1fr;
            grid-column-gap: $GV-D-DISTANCE-MEDIUM;
            grid-row-gap: 0;

            .S-TILEROW-slot_1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            .S-TILEROW-slot_2 {
                grid-area: 1 / 2 / 2 / 3;
            }
        }
        .S-TILEROW-50_25_25 {
            display: grid;
            grid-template-columns: $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT repeat(2, $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT);
            grid-template-rows: 1fr;
            grid-column-gap: $GV-D-DISTANCE-MEDIUM;
            grid-row-gap: 0;

            .S-TILEROW-slot_1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            .S-TILEROW-slot_2 {
                grid-area: 1 / 2 / 2 / 3;
            }
            .S-TILEROW-slot_3 {
                grid-area: 1 / 3 / 2 / 4;
            }
        }
        .S-TILEROW-25_50_25 {
            display: grid;
            grid-template-columns: $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT;
            grid-template-rows: 1fr;
            grid-column-gap: $GV-D-DISTANCE-MEDIUM;
            grid-row-gap: 0;

            .S-TILEROW-slot_1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            .S-TILEROW-slot_2 {
                grid-area: 1 / 2 / 2 / 3;
            }
            .S-TILEROW-slot_3 {
                grid-area: 1 / 3 / 2 / 4;
            }
        }
        .S-TILEROW-25_25_50 {
            display: grid;
            grid-template-columns: repeat(2, $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_TRIPLE_SLOT) $LV-COMPONENT-TILEROW-AVAILABLE_WIDTH_FOR_DOUBLE_SLOT;
            grid-template-rows: 1fr;
            grid-column-gap: $GV-D-DISTANCE-MEDIUM;
            grid-row-gap: 0;

            .S-TILEROW-slot_1 {
                grid-area: 1 / 1 / 2 / 2;
            }
            .S-TILEROW-slot_2 {
                grid-area: 1 / 2 / 2 / 3;
            }
            .S-TILEROW-slot_3 {
                grid-area: 1 / 3 / 2 / 4;
            }
        }
    }



    //  CHUNK:COMPONENT-PROJECT_TILE
    //  LOCAL VARIABLES NAME = COMPONENT-TAG
}
