@mixin LANDSCAPE_MODES($MODE) {
    $MODE_VALUES: map-get($LANDSCAPE_MODES, $MODE);



    //  CHUNK:LANDSCAPE
    .S-DESKTOP-wrapper {
        display: none;
    }
    .S-LANDSCAPE-wrapper {
        display: unset;
    }
    .S-MOBILE-wrapper {
        display: none;
    }



    //  CHUNK:
    //  LOCAL VARIABLES NAME =

}
