//  ENDPOINTS
$MEDIA_ENDPOINTS-DESKTOP_MAIN: 100/60;
$MEDIA_ENDPOINTS-DESKTOP_SLIM: 100/95;
$MEDIA_ENDPOINTS-MOBILE_SPACIOUS: 100/140;

//  MODE: DESKTOP MAIN
@media screen and (min-aspect-ratio: $MEDIA_ENDPOINTS-DESKTOP_MAIN){
    @import '../bundling/desktop.bundle';
    @include DESKTOP_MODES(MAIN);
}

//  MODE: DESKTOP SLIM
@media screen and (max-aspect-ratio: $MEDIA_ENDPOINTS-DESKTOP_MAIN) and (min-aspect-ratio: $MEDIA_ENDPOINTS-DESKTOP_SLIM) {
    @import '../bundling/desktop.bundle';
    @include DESKTOP_MODES(SLIM);
}

//  MODE: MOBILE SPACIOUS
@media screen and (max-aspect-ratio: $MEDIA_ENDPOINTS-DESKTOP_SLIM) and (min-aspect-ratio: $MEDIA_ENDPOINTS-MOBILE_SPACIOUS){
    @import '../bundling/mobile.bundle';
    @include  MOBILE_MODES(SPACIOUS);
}

//  MODE: MOBILE MAIN
@media screen and (max-aspect-ratio: $MEDIA_ENDPOINTS-MOBILE_SPACIOUS) {
    @import '../bundling/mobile.bundle';
    @include  MOBILE_MODES(MAIN);
}

//  ASPECT RATIO REAL NUMBER LINE VISUALIZATION
//
//  . . . ____1____2____3____ . . .
//
//  After 3 = DESKTOP MAIN
//  Between 2 and 3 = DESKTOP SLIM
//  Between 1 and 2 = MOBILE SPACIOUS
//  Before 1 = MOBILE MAIN
