.DEV-DISABLE_SELECTION {
    //  CHROME AND SAFARI
    -webkit-user-select: none;
    //  FIREFOX
    -moz-user-select: none;
    //  INTERNET EXPLORER AND EDGE BROWSER
    -ms-user-select: none;
    //  MAIN
    user-select: none;
}



.DEV-DISABLE_VISIBILITY {
    display: none;
}



.DEV-DISABLE_HEIGHT {
    height: 0 !important;
}
