//  PANGRAM SANS NORMAL
@font-face {
    font-family: "PangramSansNormal";
    src: url('../../fonts/pangram_sans/normal/variable.woff2') format('woff2'),
    url('../../fonts/pangram_sans/normal/variable.ttf') format('truetype');
}

//  NOTO SANS JAPANESE NORMAL
@font-face {
    font-family: "NotoSansJapaneseNormal";
    src: url('../../fonts/noto_sans_japanese/normal/variable.woff2') format('woff2'),
    url('../../fonts/noto_sans_japanese/normal/variable.ttf') format('truetype');
}
