//  BG-SOFT_TOUCH
$PRESET-BG-SOFT_TOUCH-BG:
    linear-gradient(352deg, $PALETTE-MIDNIGHT 35%, $PALETTE-GRAPHITE 100%) padding-box,
    linear-gradient(180deg, $PALETTE-SLATE, rgba($PALETTE-SMOKE, 0.4)) border-box;
.PRESET-BG-SOFT_TOUCH {
    //  BACKGROUND
    background: $PRESET-BG-SOFT_TOUCH-BG;
    border-radius: $GV-D-BORDER_RADIUS-NORMAL;
    //  TRANSITION
    transition: filter 0.2s;
    //  POSITIONING
    position: relative;
    //  ISOLATION
    isolation: isolate;


    //  ВНУТРЕННЯЯ ГРАНИЦА через ::after
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
        padding: $GV-D-BORDER_WIDTH;
        background: linear-gradient(180deg, $PALETTE-SLATE, $PALETTE-MIDNIGHT);
        mask:
            linear-gradient(#fff, #fff) content-box,
            linear-gradient(#fff, #fff);
        mask-composite: subtract;
        pointer-events: none;
        z-index: 2;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        border-radius: inherit;
        z-index: -1;
        transition: filter 0.2s;
        filter: brightness(100%);
    }

    &:hover::before {
        filter: brightness(85%);
    }

    & > * {
        position: relative;
        z-index: 1;
    }
}
