//
//  PANGRAM SANS NORMAL VARIABLE SETTINGS
//


//  VALUES
:root {
    --wght-thin: 100;
    --wght-extralight: 148;
    --wght-light: 228;
    --wght-regular: 336;
    --wght-medium: 469;
    --wght-semibold: 617;
    --wght-bold: 767;
    --wght-extrabold: 900;

    --ital-none: 100;
    --ital-italic: 900;
    --ital-reclined: -700;
}



//  WEIGHTS
.TYPO-WEIGHT-THIN { --current-wght: var(--wght-thin); }
.TYPO-WEIGHT-EXTRALIGHT { --current-wght: var(--wght-extralight); }
.TYPO-WEIGHT-LIGHT { --current-wght: var(--wght-light); }
.TYPO-WEIGHT-REGULAR { --current-wght: var(--wght-regular); }
.TYPO-WEIGHT-MEDIUM { --current-wght: var(--wght-medium); }
.TYPO-WEIGHT-SEMIBOLD { --current-wght: var(--wght-semibold); }
.TYPO-WEIGHT-BOLD { --current-wght: var(--wght-bold); }
.TYPO-WEIGHT-EXTRABOLD { --current-wght: var(--wght-extrabold); }



//  OBLIQUES
.TYPO-OBLIQUE-NONE { --current-ital: var(--ital-none); }
.TYPO-OBLIQUE-ITALIC { --current-ital: var(--ital-italic); }
.TYPO-OBLIQUE-RECLINED { --current-ital: var(--ital-reclined); }



//  VARIABLE
.TYPO-VARIABLE {
    font-variation-settings:
        'wght' var(--current-wght, var(--wght-regular)),
        'ital' var(--current-ital, var(--ital-none));
}



//  DETAILS
.TYPO-DETAILS-SS01 {
    //  STYLISTIC SET 1
    //  Q m n u w &
    font-feature-settings:
        "ss01" 1;
}
.TYPO-DETAILS-SS02 {
    //  STYLISTIC SET 2
    //  a j y @
    font-feature-settings:
        "ss02" 1;
}
.TYPO-DETAILS-SS03 {
    //  STYLISTIC SET 3
    //  &
    font-feature-settings:
        "ss03" 1;
}
.TYPO-DETAILS-CASE {
    //  CASE SENSITIVE
    //  {[(OH-@11:11!)]}
    font-feature-settings:
        "case" 1;
}
.TYPO-DETAILS-ONUM {
    //  OLD NUMERICS
    //  0123456789
    font-feature-settings:
        "onum" 1;
}



//  SIZES DESKTOP
.TYPO-D-SIZES-SMALL { font-size: $GV-D-FONT_SIZES-SMALL; }
.TYPO-D-SIZES-NORMAL { font-size: $GV-D-FONT_SIZES-NORMAL; }
.TYPO-D-SIZES-H5 { font-size: $GV-D-FONT_SIZES-H5; }
.TYPO-D-SIZES-H4 { font-size: $GV-D-FONT_SIZES-H4; }
.TYPO-D-SIZES-H3 { font-size: $GV-D-FONT_SIZES-H3; }
.TYPO-D-SIZES-H2 { font-size: $GV-D-FONT_SIZES-H2; }
.TYPO-D-SIZES-H1 { font-size: $GV-D-FONT_SIZES-H1; }

