//  DEV RENDERING
$DEV-BORDER: 0.2vh;



//  SH1FT PALETTE
$PALETTE-GLASS: rgba(255, 255, 255, 0);
$PALETTE-VOID: #000000;
$PALETTE-OBSIDIAN: #0E0E0E;
$PALETTE-MIDNIGHT: #1C1C1C;
$PALETTE-GRAPHITE: #2B2B2B;
$PALETTE-SMOKE: #363636;
$PALETTE-SLATE: #414141;
$PALETTE-ASH: #B6B6B6;
$PALETTE-SNOW: #ffffff;
$PALETTE-SH1FT: #5842FF;



//  DESKTOP
$GV-D-EXAMPLE: 'Example variable';
$GV-D-HORIZONTAL_MARGINS: 20vh;

$GV-D-BORDER_WIDTH: 0.4vh;
$LV-D-BORDERS: $GV-D-BORDER_WIDTH solid $PALETTE-SLATE;

$GV-D-DISTANCE-REFERENCE: 3vh;
$GV-D-DISTANCE-MICRO: calc($GV-D-DISTANCE-REFERENCE / 2.666);
$GV-D-DISTANCE-SMALL: calc($GV-D-DISTANCE-REFERENCE / 1.6);
$GV-D-DISTANCE-REGULAR: calc($GV-D-DISTANCE-REFERENCE / 1.333);
$GV-D-DISTANCE-MEDIUM: $GV-D-DISTANCE-REFERENCE;
$GV-D-DISTANCE-BIG: calc($GV-D-DISTANCE-REFERENCE * 1.375);
$GV-D-DISTANCE-LARGE: calc($GV-D-DISTANCE-REFERENCE * 4);

$GV-D-BORDER_RADIUS-SMALL: 1.15vh;

$GV-D-FONT_SIZES-REFERENCE: 3vh;
$GV-D-FONT_SIZES-SMALL: calc($GV-D-FONT_SIZES-REFERENCE / 1.4);
$GV-D-FONT_SIZES-NORMAL: $GV-D-FONT_SIZES-REFERENCE;
$GV-D-FONT_SIZES-H5: calc($GV-D-FONT_SIZES-REFERENCE * 1.43);
$GV-D-FONT_SIZES-H4: calc($GV-D-FONT_SIZES-REFERENCE * 1.71);
$GV-D-FONT_SIZES-H3: calc($GV-D-FONT_SIZES-REFERENCE * 2.28);
$GV-D-FONT_SIZES-H2: calc($GV-D-FONT_SIZES-REFERENCE * 4.00);
$GV-D-FONT_SIZES-H1: calc($GV-D-FONT_SIZES-REFERENCE * 4.57);



//  MOBILE
$GV-M-EXAMPLE: 'Example variable';
