//  DEV RENDERING
$DEV-BORDER: 0.2vh;

//  SH1FT PALETTE
$PALETTE-VOID: #000000;
$PALETTE-BLACK: #0e0e0e;
$PALETTE-DEEP_GRAY: #1c1c1c;
$PALETTE-DONE_GRAY: #363636;
$PALETTE-SMOOTH_GRAY: #b6b6b6;
$PALETTE-SNOW: #ffffff;

$PALETTE-SH1FT: #5842FF;

//  DESKTOP
$GV-D-EXAMPLE: 'Example variable';
$GV-D-HORIZONTAL_MARGINS: 20vh;

//  MOBILE
$GV-M-EXAMPLE: 'Example variable';
