* {
  margin: 0;
  padding: 0;
}

body {
  background: #0E0E0E;
  font-family: "PangramSansNormal", sans-serif;
  color: #ffffff;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@font-face {
  font-family: "PangramSansNormal";
  src: url("../../fonts/pangram_sans/normal/variable.woff2") format("woff2"), url("../../fonts/pangram_sans/normal/variable.ttf") format("truetype");
}
.DEV-DISABLE_SELECTION {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.DEV-DISABLE_VISIBILITY {
  display: none;
}

:root {
  --wght-thin: 100;
  --wght-extralight: 148;
  --wght-light: 228;
  --wght-regular: 336;
  --wght-medium: 469;
  --wght-semibold: 617;
  --wght-bold: 767;
  --wght-extrabold: 900;
  --ital-none: 100;
  --ital-italic: 900;
  --ital-reclined: -700;
}

.TYPO-WEIGHT-THIN {
  --current-wght: var(--wght-thin);
}

.TYPO-WEIGHT-EXTRALIGHT {
  --current-wght: var(--wght-extralight);
}

.TYPO-WEIGHT-LIGHT {
  --current-wght: var(--wght-light);
}

.TYPO-WEIGHT-REGULAR {
  --current-wght: var(--wght-regular);
}

.TYPO-WEIGHT-MEDIUM {
  --current-wght: var(--wght-medium);
}

.TYPO-WEIGHT-SEMIBOLD {
  --current-wght: var(--wght-semibold);
}

.TYPO-WEIGHT-BOLD {
  --current-wght: var(--wght-bold);
}

.TYPO-WEIGHT-EXTRABOLD {
  --current-wght: var(--wght-extrabold);
}

.TYPO-OBLIQUE-NONE {
  --current-ital: var(--ital-none);
}

.TYPO-OBLIQUE-ITALIC {
  --current-ital: var(--ital-italic);
}

.TYPO-OBLIQUE-RECLINED {
  --current-ital: var(--ital-reclined);
}

.TYPO-VARIABLE {
  font-variation-settings: "wght" var(--current-wght, var(--wght-regular)), "ital" var(--current-ital, var(--ital-none));
}

.TYPO-DETAILS-SS01 {
  font-feature-settings: "ss01" 1;
}

.TYPO-DETAILS-SS02 {
  font-feature-settings: "ss02" 1;
}

.TYPO-DETAILS-SS03 {
  font-feature-settings: "ss03" 1;
}

.TYPO-DETAILS-CASE {
  font-feature-settings: "case" 1;
}

.TYPO-DETAILS-ONUM {
  font-feature-settings: "onum" 1;
}

.TYPO-D-SIZES-SMALL {
  font-size: 2.1428571429vh;
}

.TYPO-D-SIZES-NORMAL {
  font-size: 3vh;
}

.TYPO-D-SIZES-H5 {
  font-size: 4.29vh;
}

.TYPO-D-SIZES-H4 {
  font-size: 5.13vh;
}

.TYPO-D-SIZES-H3 {
  font-size: 6.84vh;
}

.TYPO-D-SIZES-H2 {
  font-size: 12vh;
}

.TYPO-D-SIZES-H1 {
  font-size: 13.71vh;
}

@media screen and (min-aspect-ratio: 1.6666666667) {
  .S-DESKTOP-wrapper {
    display: unset;
  }
  .S-LANDSCAPE-wrapper {
    display: none;
  }
  .S-MOBILE-wrapper {
    display: none;
  }
  .S-DESKTOP-carcass {
    height: 100vh;
    width: 100vw;
  }
  .S-DESKTOP-carcass .S-DESKTOP-header {
    position: fixed;
    width: 100vw;
    z-index: 100;
  }
  .S-HEADER-wrapper {
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    border-bottom: 0.4vh solid #414141;
    transition: opacity 0.2s;
  }
  .S-HEADER-wrapper .S-HEADER-carcass {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 7.5vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo {
    grid-area: 1/1/2/2;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo .S-LOGO-carcass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    padding: 0 3vh;
    background-color: #0E0E0E;
    color: #B6B6B6;
    transition: background-color 0.15s, color 0.2s;
    cursor: pointer;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo .S-LOGO-carcass .I-LOGO-image {
    height: 3.488372093vh;
    transition: filter 0.2s;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo .S-LOGO-carcass:hover {
    background-color: #1C1C1C;
    color: #ffffff;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo .S-LOGO-carcass:hover .I-LOGO-image {
    filter: brightness(141%);
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content {
    grid-area: 1/2/2/3;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: 7.5vh max-content;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 7.5vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vh;
    background-color: #0E0E0E;
    color: #B6B6B6;
    transition: background-color 0.15s, color 0.2s;
    cursor: pointer;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text .I-CONTENT-dropdown_arrow {
    height: 1.2vh;
    margin-left: 1.1252813203vh;
    transition: transform 0.2s ease-in-out, filter 0.2s;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text .I-CONTENT-dropdown_arrow_animation {
    animation: KF-HEADER_DROPDOWN_ICON_CLICK_ANIMATION 0.2s ease-in-out;
  }
  @keyframes KF-HEADER_DROPDOWN_ICON_CLICK_ANIMATION {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.2vh);
    }
    100% {
      transform: translateY(0);
    }
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text:hover {
    background-color: #1C1C1C;
    color: #ffffff;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text:hover .I-CONTENT-dropdown_arrow {
    filter: brightness(141%);
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-projects {
    grid-area: 1/1/2/2;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-about {
    grid-area: 1/2/2/3;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-contacts {
    grid-area: 1/3/2/4;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-other {
    grid-area: 1/4/2/5;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages {
    grid-area: 1/5/2/6;
    width: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.15s, color 0.2s;
    cursor: pointer;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_all {
    position: absolute;
    transition: transform 0.2s ease-in-out, filter 0.2s;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_combined {
    height: 3.488372093vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_part1 {
    height: 2.6675202732vh;
    margin-right: 0.8vh;
    margin-bottom: 0.7vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_part2 {
    height: 2.2075055188vh;
    margin-left: 1.5vh;
    margin-top: 1.1vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_icon_part1_animation {
    animation: KF-HEADER_LANGUAGES_ICON_PART1_ANIMATION 0.2s ease-in-out;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_icon_part2_animation {
    animation: KF-HEADER_LANGUAGES_ICON_PART2_ANIMATION 0.2s ease-in-out;
  }
  @keyframes KF-HEADER_LANGUAGES_ICON_PART1_ANIMATION {
    20% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(0.2vh);
    }
    120% {
      transform: translateY(0);
    }
  }
  @keyframes KF-HEADER_LANGUAGES_ICON_PART2_ANIMATION {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.2vh);
    }
    100% {
      transform: translateY(0);
    }
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages:hover {
    background-color: #1C1C1C;
    color: #ffffff;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages:hover .I-CONTENT-languages_all {
    filter: brightness(141%);
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays {
    grid-area: 2/1/3/6;
    z-index: 110;
    pointer-events: none;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-all {
    transition: opacity 0.2s;
    box-sizing: border-box;
    border: 0.4vh solid #414141;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-big {
    border-left: 0.4vh solid #414141;
    border-right: 0.4vh solid #414141;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-projects {
    background-color: #63a7ae;
    grid-area: 1/1/2/2;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-other {
    background-color: #816ee1;
    grid-area: 1/1/2/2;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-languages {
    background-color: #0b4e51;
    grid-area: 1/2/2/3;
    width: 7.5vh;
  }
  .S-FRONT-carcass {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100vh;
    border-bottom: 0.4vh solid #414141;
    overflow: clip;
    background: radial-gradient(circle at 50% -30%, #5842FF 0%, color-mix(in oklab, #5842FF 76%, rgba(255, 255, 255, 0)) 33%, color-mix(in oklab, #5842FF 50%, rgba(255, 255, 255, 0)) 66%, rgba(255, 255, 255, 0) 100%) no-repeat;
  }
  .S-FRONT-carcass .S-FRONT-background {
    grid-area: 1/1/2/2;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .S-FRONT-carcass .S-FRONT-background .I-FRONT-background_image {
    height: 178vh;
    filter: opacity(12%);
    margin-top: -50vh;
    margin-right: -20vh;
    pointer-events: none;
  }
  .S-FRONT-carcass .S-FRONT-content {
    grid-area: 1/1/2/2;
    width: 100vw;
    z-index: 2;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper {
    display: flex;
    justify-content: center;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 92.1vh;
    padding-top: 7.9vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-name {
    margin-bottom: 8.25vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-name .T-NAME-text {
    color: #ffffff;
    text-align: center;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.875vh;
    width: 90vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 1.1252813203vh 1.875vh;
    border-radius: 1.15vh;
    width: max-content;
    transition: background-color 0.2s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame:hover {
    background-color: #5842FF;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame:hover .T-BUTTON-title {
    color: #ffffff;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame:hover .I-BUTTON-arrow {
    fill: #ffffff;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame .T-BUTTON-title {
    color: #0E0E0E;
    text-align: center;
    transition: color 0.2s, transform 0.2s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame .I-BUTTON-arrow {
    height: 1.9vh;
    margin-left: 1.1252813203vh;
    fill: #0E0E0E;
    transition: fill 0.2s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .L-BUTTON-link {
    text-decoration: none;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 3vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts > .L-SHORTCUT-icon:nth-child(2) {
    margin-right: 2.2505626407vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-link {
    text-decoration: underline;
    text-underline-offset: 0.4vh;
    text-decoration-thickness: 0.25vh;
    color: #ffffff;
    margin-right: 2.2505626407vh;
    transition: color 0.2s, text-underline-offset 0.15s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-link:hover {
    text-underline-offset: 0.7vh;
    color: #5842FF;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon {
    text-decoration: underline;
    display: flex;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon .I-SHORTCUT-all path {
    fill: #ffffff;
    transition: fill 0.2s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon .I-SHORTCUT-all:hover path {
    fill: #5842FF;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon .I-SHORTCUT-icon_telegram {
    height: 2.8vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon .I-SHORTCUT-icon_email {
    height: 2.3vh;
  }
  .S-SHOWCASE-carcass {
    height: 100vh;
  }
}
@media screen and (max-aspect-ratio: 1.6666666667) and (min-aspect-ratio: 1.0526315789) {
  .S-DESKTOP-wrapper {
    display: unset;
  }
  .S-LANDSCAPE-wrapper {
    display: none;
  }
  .S-MOBILE-wrapper {
    display: none;
  }
  .S-DESKTOP-carcass {
    height: 100vh;
    width: 100vw;
  }
  .S-DESKTOP-carcass .S-DESKTOP-header {
    position: fixed;
    width: 100vw;
    z-index: 100;
  }
  .S-HEADER-wrapper {
    background-color: #0E0E0E;
    display: flex;
    justify-content: center;
    border-bottom: 0.4vh solid #414141;
    transition: opacity 0.2s;
  }
  .S-HEADER-wrapper .S-HEADER-carcass {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 7.5vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo {
    grid-area: 1/1/2/2;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo .S-LOGO-carcass {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7.5vh;
    padding: 0 3vh;
    background-color: #0E0E0E;
    color: #B6B6B6;
    transition: background-color 0.15s, color 0.2s;
    cursor: pointer;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo .S-LOGO-carcass .I-LOGO-image {
    height: 3.488372093vh;
    transition: filter 0.2s;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo .S-LOGO-carcass:hover {
    background-color: #1C1C1C;
    color: #ffffff;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-logo .S-LOGO-carcass:hover .I-LOGO-image {
    filter: brightness(141%);
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content {
    grid-area: 1/2/2/3;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass {
    display: grid;
    grid-template-columns: repeat(5, max-content);
    grid-template-rows: 7.5vh max-content;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 7.5vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 3vh;
    background-color: #0E0E0E;
    color: #B6B6B6;
    transition: background-color 0.15s, color 0.2s;
    cursor: pointer;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text .I-CONTENT-dropdown_arrow {
    height: 1.2vh;
    margin-left: 1.1252813203vh;
    transition: transform 0.2s ease-in-out, filter 0.2s;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text .I-CONTENT-dropdown_arrow_animation {
    animation: KF-HEADER_DROPDOWN_ICON_CLICK_ANIMATION 0.2s ease-in-out;
  }
  @keyframes KF-HEADER_DROPDOWN_ICON_CLICK_ANIMATION {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.2vh);
    }
    100% {
      transform: translateY(0);
    }
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text:hover {
    background-color: #1C1C1C;
    color: #ffffff;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-text:hover .I-CONTENT-dropdown_arrow {
    filter: brightness(141%);
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-projects {
    grid-area: 1/1/2/2;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-about {
    grid-area: 1/2/2/3;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-contacts {
    grid-area: 1/3/2/4;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-other {
    grid-area: 1/4/2/5;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages {
    grid-area: 1/5/2/6;
    width: 7.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.15s, color 0.2s;
    cursor: pointer;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_all {
    position: absolute;
    transition: transform 0.2s ease-in-out, filter 0.2s;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_combined {
    height: 3.488372093vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_part1 {
    height: 2.6675202732vh;
    margin-right: 0.8vh;
    margin-bottom: 0.7vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_part2 {
    height: 2.2075055188vh;
    margin-left: 1.5vh;
    margin-top: 1.1vh;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_icon_part1_animation {
    animation: KF-HEADER_LANGUAGES_ICON_PART1_ANIMATION 0.2s ease-in-out;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages .I-CONTENT-languages_icon_part2_animation {
    animation: KF-HEADER_LANGUAGES_ICON_PART2_ANIMATION 0.2s ease-in-out;
  }
  @keyframes KF-HEADER_LANGUAGES_ICON_PART1_ANIMATION {
    20% {
      transform: translateY(0);
    }
    70% {
      transform: translateY(0.2vh);
    }
    120% {
      transform: translateY(0);
    }
  }
  @keyframes KF-HEADER_LANGUAGES_ICON_PART2_ANIMATION {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(0.2vh);
    }
    100% {
      transform: translateY(0);
    }
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages:hover {
    background-color: #1C1C1C;
    color: #ffffff;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-languages:hover .I-CONTENT-languages_all {
    filter: brightness(141%);
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays {
    grid-area: 2/1/3/6;
    z-index: 110;
    pointer-events: none;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-all {
    transition: opacity 0.2s;
    box-sizing: border-box;
    border: 0.4vh solid #414141;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-big {
    border-left: 0.4vh solid #414141;
    border-right: 0.4vh solid #414141;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-projects {
    background-color: #63a7ae;
    grid-area: 1/1/2/2;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-other {
    background-color: #816ee1;
    grid-area: 1/1/2/2;
  }
  .S-HEADER-wrapper .S-HEADER-carcass .S-HEADER-content .S-CONTENT-carcass .S-CONTENT-overlays .S-OVERLAYS-carcass .S-OVERLAY-languages {
    background-color: #0b4e51;
    grid-area: 1/2/2/3;
    width: 7.5vh;
  }
  .S-FRONT-carcass {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    height: 100vh;
    border-bottom: 0.4vh solid #414141;
    overflow: clip;
    background: radial-gradient(circle at 50% -30%, #5842FF 0%, color-mix(in oklab, #5842FF 76%, rgba(255, 255, 255, 0)) 33%, color-mix(in oklab, #5842FF 50%, rgba(255, 255, 255, 0)) 66%, rgba(255, 255, 255, 0) 100%) no-repeat;
  }
  .S-FRONT-carcass .S-FRONT-background {
    grid-area: 1/1/2/2;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
  .S-FRONT-carcass .S-FRONT-background .I-FRONT-background_image {
    height: 178vh;
    filter: opacity(12%);
    margin-top: -50vh;
    margin-right: -20vh;
    pointer-events: none;
  }
  .S-FRONT-carcass .S-FRONT-content {
    grid-area: 1/1/2/2;
    width: 100vw;
    z-index: 2;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper {
    display: flex;
    justify-content: center;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 92.1vh;
    padding-top: 7.9vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-name {
    margin-bottom: 8.25vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-name .T-NAME-text {
    color: #ffffff;
    text-align: center;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.875vh;
    width: 90vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    padding: 1.1252813203vh 1.875vh;
    border-radius: 1.15vh;
    width: max-content;
    transition: background-color 0.2s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame:hover {
    background-color: #5842FF;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame:hover .T-BUTTON-title {
    color: #ffffff;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame:hover .I-BUTTON-arrow {
    fill: #ffffff;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame .T-BUTTON-title {
    color: #0E0E0E;
    text-align: center;
    transition: color 0.2s, transform 0.2s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .S-BUTTON-frame .I-BUTTON-arrow {
    height: 1.9vh;
    margin-left: 1.1252813203vh;
    fill: #0E0E0E;
    transition: fill 0.2s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-buttons .L-BUTTON-link {
    text-decoration: none;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 3vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts > .L-SHORTCUT-icon:nth-child(2) {
    margin-right: 2.2505626407vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-link {
    text-decoration: underline;
    text-underline-offset: 0.4vh;
    text-decoration-thickness: 0.25vh;
    color: #ffffff;
    margin-right: 2.2505626407vh;
    transition: color 0.2s, text-underline-offset 0.15s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-link:hover {
    text-underline-offset: 0.7vh;
    color: #5842FF;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon {
    text-decoration: underline;
    display: flex;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon .I-SHORTCUT-all path {
    fill: #ffffff;
    transition: fill 0.2s;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon .I-SHORTCUT-all:hover path {
    fill: #5842FF;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon .I-SHORTCUT-icon_telegram {
    height: 2.8vh;
  }
  .S-FRONT-carcass .S-FRONT-content .S-CONTENT-wrapper .S-CONTENT-carcass .S-CONTENT-shortcuts .L-SHORTCUT-icon .I-SHORTCUT-icon_email {
    height: 2.3vh;
  }
  .S-SHOWCASE-carcass {
    height: 100vh;
  }
}
@media screen and (min-aspect-ratio: 1.6666666667) and (hover: none) and (pointer: coarse) {
  .S-DESKTOP-wrapper {
    display: none;
  }
  .S-LANDSCAPE-wrapper {
    display: unset;
  }
  .S-MOBILE-wrapper {
    display: none;
  }
}
@media screen and (max-aspect-ratio: 1.6666666667) and (hover: none) and (pointer: coarse) {
  .S-DESKTOP-wrapper {
    display: none;
  }
  .S-LANDSCAPE-wrapper {
    display: unset;
  }
  .S-MOBILE-wrapper {
    display: none;
  }
}
@media screen and (max-aspect-ratio: 1.0526315789) and (min-aspect-ratio: 0.7142857143) {
  .S-DESKTOP-wrapper {
    display: none;
  }
  .S-LANDSCAPE-wrapper {
    display: none;
  }
  .S-MOBILE-wrapper {
    display: unset;
  }
}
@media screen and (max-aspect-ratio: 0.7142857143) {
  .S-DESKTOP-wrapper {
    display: none;
  }
  .S-LANDSCAPE-wrapper {
    display: none;
  }
  .S-MOBILE-wrapper {
    display: unset;
  }
}

/*# sourceMappingURL=final.bundle.css.map */
